@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--m-white: #fff;
	--m-black: #000;
	--m-bg: #121826;
}

html,
body,
:root {
	height: 100%;
}

::-webkit-scrollbar {
	display: none;
}
